.navbar {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar .navbar-nav .nav-link {
    color: white; /* Cambia el color de los enlaces a blanco */
}
