@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Ovo);
@charset "UTF-8";

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}


.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-nav .open .dropdown-menu > li > a:hover {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
    0 1px 0 rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .form-control-static {
    display: inline-block;
  }
  .navbar-form .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .navbar-form .input-group .form-control,
  .navbar-form .input-group .input-group-addon,
  .navbar-form .input-group .input-group-btn {
    width: auto;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .checkbox,
  .navbar-form .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .checkbox label,
  .navbar-form .radio label {
    padding-left: 0;
  }
  .navbar-form .checkbox input[type="checkbox"],
  .navbar-form .radio input[type="radio"] {
    position: relative;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
  .navbar-form .form-group:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:focus,
.navbar-default .navbar-nav > .disabled > a:hover {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777;
}
.navbar-default .navbar-link:hover {
  color: #333;
}
.navbar-default .btn-link {
  color: #777;
}
.navbar-default .btn-link:focus,
.navbar-default .btn-link:hover {
  color: #333;
}
.navbar-default .btn-link[disabled]:focus,
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:focus,
fieldset[disabled] .navbar-default .btn-link:hover {
  color: #ccc;
}
.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #9d9d9d;
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:focus,
.navbar-inverse .navbar-nav > .disabled > a:hover {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:focus,
.navbar-inverse .btn-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:focus,
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus,
fieldset[disabled] .navbar-inverse .btn-link:hover {
  color: #444;
}



nav.navbar.bootsnav li.dropdown .mega-menu-full {
  padding: 25px;
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul > li {
  border-right: none;
}
nav.navbar.bootsnav li.dropdown ul li ul li:last-child {
  border-bottom: none;
}
nav.navbar.bootsnav li.dropdown .menu-back-div > ul {
  width: 920px;
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul li a,
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul li.dropdown-header {
  padding: 2px 0;
}
.counter-box-3 .counter-box {
  display: inline-block;
  width: 100px;
}
.banner-style1 figure:hover figcaption p {
  height: 80px;
}
.banner-style1 figure figcaption img {
  width: 130px;
}
.swiper-pagination-bottom.swiper-container-horizontal .swiper-wrapper {
  margin-bottom: 50px;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}
.swiper-full-screen .swiper-pagination,
.hover-option3 .swiper-pagination {
  bottom: 30px;
}
.hover-option3 .grid-item a:hover p {
  bottom: 0;
  opacity: 1;
}
.hover-option3 .grid-item figure p {
  bottom: 0;
  opacity: 1;
  margin-bottom: 30px;
}
.hover-option3 .grid-item figure h6 {
  bottom: 0;
}
.hover-option3 .grid-item figure figcaption {
  padding: 0 30px;
}
.swiper-next-style2 {
  right: 5%;
}
.swiper-prev-style2 {
  left: 5%;
}
.swiper-auto-slide .swiper-scrollbar {
  left: 15%;
  width: 70%;
}
.swiper-auto-slide
  .swiper-slide.swiper-slide-active
  .absolute-middle-center
  h2 {
  transition: all 0.4s ease-in-out 0.4s;
  -webkit-transition: all 0.4s ease-in-out 0.4s;
  -moz-transition: all 0.4s ease-in-out 0.4s;
  -ms-transition: all 0.4s ease-in-out 0.4s;
  -o-transition: all 0.4s ease-in-out 0.4s;
}
.swiper-bottom-scrollbar-full .swiper-slide img {
  max-height: 450px;
  opacity: 1;
  filter: contrast(130%);
  -webkit-filter: contrast(130%);
  -moz-filter: contrast(130%);
  -ms-filter: contrast(130%);
  -o-filter: contrast(130%);
}
.swiper-bottom-scrollbar-full .swiper-slide:hover img {
  max-height: 450px;
}
.swiper-bottom-scrollbar-full .bottom-text {
  opacity: 1;
  letter-spacing: 3px;
}
.swiper-bottom-scrollbar-full .swiper-slide:hover .bottom-text {
  opacity: 1;
  letter-spacing: 3px;
  left: 0;
}
.swiper-bottom-scrollbar-full .swiper-slide:hover .hover-title-box {
  right: 0;
  opacity: 1;
}
.hover-title-box {
  opacity: 1;
  right: 0;
  text-align: center;
  top: inherit;
  bottom: 50%;
  transform: translateY(160px);
  -moz-transform: translateY(160px);
  -webkit-transform: translateY(160px);
  -o-transform: translateY(160px);
  -ms-transform: translateY(160px);
  z-index: 99;
  width: 100%;
}
.swiper-bottom-scrollbar-full .swiper-slide .hover-title-box {
  visibility: visible;
}
.portfolio-grid.portfolio-metro-grid.work-4col li {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-4col li.grid-item-double {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-4col
  li.grid-item-double:last-child {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-6col li {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-6col li.grid-item-double {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-6col
  li.grid-item-double:last-child {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-3col li {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-3col li.grid-item-double {
  width: 50%;
}
.portfolio-grid.portfolio-metro-grid.work-3col
  li.grid-item-double:last-child {
  width: 50%;
}
.blog-header-style1 li figure figcaption {
  padding: 30px;
}
.demo-heading {
  font-size: 35px;
  line-height: 41px;
}
}
@media (max-width: 1150px) {
.sidebar-wrapper .container {
  width: 750px;
}
}
@media (max-width: 1050px) {
.sidebar-wrapper .container {
  width: 100%;
}
.parallax {
  background-attachment: inherit;
}
.feature-box.feature-box-17 .box .content {
  top: 50px;
}
.sidebar-nav .logo-holder {
  min-height: 60px;
}
nav.navbar.bootsnav.sidebar-nav li.dropdown ul.dropdown-menu {
  padding-top: 112px;
}
.nav.navbar-left-sidebar li a {
  padding: 17px 0;
}
.sidebar-part2 .sidebar-middle {
  padding: 90px 0 90px;
}
.sidebar-part2 .sidebar-middle {
  padding: 110px 0;
}
}
@media (max-width: 1024px) and (min-width: 992px) {
.sidebar-part2 .sidebar-middle,
.sidebar-part2 nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
  padding: 90px 0 220px;
}
header .sidebar-part2 nav.navbar.bootsnav ul > li > a {
  font-size: 30px;
  line-height: 37px;
}
.sidebar-part2 ul > li {
  padding: 7px 20px 7px 0;
}
}
@media (max-width: 1079px) and (min-width: 992px) {
header nav.navbar.white-link .navbar-nav > li > a,
nav.navbar.bootsnav.white-link ul.nav > li > a {
  font-size: 10px;
  line-height: 20px;
}
.dropdown-style-1 .btn {
  font-size: 10px;
}
}
@media (max-width: 1199px) and (min-width: 992px) {
.navbar .no-padding-right.pull-right {
  padding-right: 15px !important;
}
}
@media (max-width: 991px) {
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 18px;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
}
h1 {
  font-size: 57px;
  line-height: 58px;
}
h2 {
  font-size: 43px;
  line-height: 48px;
}
h3 {
  font-size: 36px;
  line-height: 41px;
}
h4 {
  font-size: 30px;
  line-height: 35px;
}
h5 {
  font-size: 24px;
  line-height: 30px;
}
h6 {
  font-size: 22px;
  line-height: 26px;
}
p {
  margin: 0 0 20px;
}
.title-large {
  font-size: 70px;
  line-height: 65px;
}
.title-extra-large {
  font-size: 100px;
  line-height: 95px;
}
.percent {
  line-height: 125px;
}
section {
  padding: 75px 0;
}
section.big-section {
  padding: 120px 0;
}
section.extra-big-section {
  padding: 150px 0;
}
section.half-section {
  padding: 40px 0;
}
.sm-col-2-nth .col-sm-6:nth-child(2n + 1) {
  clear: left;
}
.sm-col-3-nth .col-sm-4:nth-child(3n + 1) {
  clear: left;
}
.sm-col-4-nth .col-sm-3:nth-child(4n + 1) {
  clear: left;
}
.sm-center-col {
  float: none;
  margin: 0 auto;
}
.sm-float-left {
  float: left !important;
}
.sm-float-right {
  float: right !important;
}
.sm-float-none {
  float: none !important;
}
header * {
  transition-timing-function: none;
  -moz-transition-timing-function: none;
  -webkit-transition-timing-function: none;
  -o-transition-timing-function: none;
  -ms-transition-timing-function: none;
  transition-duration: 0s;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
}
.dropdown-menu {
  box-shadow: none;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
.navbar-collapse {
  left: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
nav.navbar.bootsnav ul.nav > li.dropdown > ul.dropdown-menu,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu.mega-menu {
  padding: 10px 15px 0 !important;
  margin: 0;
  float: left;
  top: 0 !important;
}
nav.navbar.bootsnav .navbar-nav {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.95);
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul > li {
  border-bottom: none;
  margin-bottom: 10px;
}
nav.navbar.bootsnav li.dropdown.open .mega-menu-full {
  padding-top: 10px;
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul > li:last-child {
  margin-bottom: 0;
}
nav.navbar.bootsnav .navbar-nav li,
nav.navbar.bootsnav li.dropdown ul.mega-menu-full li.dropdown-header {
  display: block;
  clear: both;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  border-top: 0;
}
.navbar-nav li > a,
nav.navbar.navbar-default ul.nav > li > a,
nav.navbar-brand-top.navbar.navbar-default ul.nav > li > a,
header .navbar-nav li > a,
header
  nav.navbar-fixed-top.header-light-transparent.white-link
  .navbar-nav
  > li
  > a,
header nav.navbar-fixed-top.header-light.white-link .navbar-nav > li > a,
nav.navbar.bootsnav li.dropdown ul.mega-menu-full li > a,
header.sticky nav.navbar.navbar-default.navbar-fixed-top ul.nav > li > a,
header.sticky nav.navbar.navbar-default.navbar-top ul.nav > li > a,
nav.navbar.bootsnav li.dropdown ul.mega-menu-full li.dropdown-header {
  margin: 0;
  padding: 9px 15px 8px;
  color: #939393;
  display: block;
  line-height: normal;
}
.navbar-nav li > a,
nav.navbar.navbar-default ul.nav > li > a,
header .navbar-nav li > a,
header
  nav.navbar-fixed-top.header-light-transparent.white-link
  .navbar-nav
  > li
  > a,
header.sticky nav.navbar.navbar-default.navbar-fixed-top ul.nav > li > a,
header.header-appear
  nav.bootsnav.header-light-transparent
  .navbar-nav
  > li
  > a,
header.header-appear nav.bootsnav.header-light .navbar-nav > li > a {
  color: #fff;
}
nav.navbar.bootsnav ul.nav > li.dropdown > ul.dropdown-menu li a,
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu.mega-menu li a,
nav.navbar.bootsnav li.dropdown ul.mega-menu-full li.dropdown-header {
  padding-left: 0;
  padding-right: 0;
}
.simple-dropdown.open > ul > li {
  border: 0 !important;
}
nav.navbar.bootsnav li.dropdown ul.mega-menu-full li.dropdown-header {
  color: #fff;
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul li a,
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul li.dropdown-header {
  padding: 0;
  margin: 0;
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul > li > ul {
  margin-top: 0;
}
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
  color: #939393;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
nav.navbar.bootsnav
  ul.nav
  li.dropdown.simple-dropdown
  ul.dropdown-menu
  > li.active
  > a {
  background-color: transparent;
  color: #fff;
}
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li:hover > a {
  color: #fff;
}
nav.navbar.bootsnav li.dropdown ul.mega-menu-full li ul {
  margin-top: 0;
}
.navbar-nav > li.simple-dropdown ul.dropdown-menu {
  top: 0;
  min-width: 0;
}
nav.navbar.bootsnav ul.nav li.dropdown.simple-dropdown > .dropdown-menu {
  background-color: #232323;
}
nav.navbar.bootsnav .navbar-toggle {
  top: 3px;
}
.navbar-nav > li.dropdown > .fas {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 9px 15px 8px;
}
nav.navbar.bootsnav .navbar-nav > li.dropdown.open > ul,
nav.navbar.bootsnav .navbar-nav > li.dropdown.on > ul {
  display: block !important;
  opacity: 1 !important;
}
nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
  border: 0;
  padding: 10px 0;
}
nav.navbar.bootsnav
  ul.nav
  li.dropdown.simple-dropdown
  ul.dropdown-menu
  > li
  > a {
  padding: 7px 0;
  left: 0;
}
.dropdown.simple-dropdown.open .dropdown-menu .dropdown .dropdown-menu {
  display: block !important;
  opacity: 1 !important;
}
nav.navbar.bootsnav
  ul.nav
  li.dropdown.simple-dropdown.open
  ul.dropdown-menu
  li
  > a.dropdown-toggle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  color: #fff;
}
nav.navbar.bootsnav
  ul.nav
  .simple-dropdown
  ul.dropdown-menu
  li.dropdown
  ul.dropdown-menu {
  padding-left: 0 !important;
}
nav.navbar.bootsnav .simple-dropdown .dropdown-menu > li.dropdown > ul,
nav.navbar.bootsnav
  .simple-dropdown
  .dropdown-menu
  > li.dropdown
  > ul
  > li.dropdown
  > ul {
  left: 0;
}
.simple-dropdown .dropdown-menu > li > a.dropdown-toggle .fas {
  display: none;
}
nav .accordion-menu {
  padding: 26px 15px 26px 15px;
}
.sticky nav .accordion-menu {
  padding: 26px 15px 26px 15px;
}
nav.navbar.bootsnav.menu-center ul.nav.navbar-center {
  width: 100%;
}
.center-logo {
  left: 0;
  position: relative;
  max-width: 100%;
  margin: 0;
  top: 0;
  transform: none;
  padding: 26px 15px;
}
.navbar-nav li {
  position: relative;
}
nav.navbar.bootsnav li.dropdown ul.mega-menu-full > li {
  padding: 0;
  border: 0;
}
nav.navbar.bootsnav .simple-dropdown .dropdown-menu > li {
  padding-left: 0;
  padding-right: 0;
}
nav.navbar.bootsnav .simple-dropdown .dropdown-menu > li.dropdown {
  margin-bottom: 10px;
}
nav.navbar.bootsnav
  .simple-dropdown
  .dropdown-menu
  > li.dropdown
  > ul:before {
  display: none;
}
nav.navbar.bootsnav
  ul.navbar-nav.navbar-left
  > li:last-child
  > ul.dropdown-menu {
  border: 0;
}
header.header-appear
  nav.bootsnav.header-light-transparent
  .navbar-nav
  > li
  > a:hover,
header.header-appear nav.bootsnav.header-light .navbar-nav > li > a:hover,
header.header-appear nav.header-light-transparent .header-social-icon a:hover,
header.header-appear nav.header-light .header-social-icon a:hover,
header.header-appear nav.header-light.white-link .header-social-icon a:hover,
header.header-appear
  nav.header-light-transparent.white-link
  .header-social-icon
  a:hover,
header.header-appear
  nav.header-light-transparent.white-link
  .heder-menu-button
  a:hover,
header.header-appear
  nav.header-light-transparent.white-link
  .header-searchbar
  a:hover,
header nav.navbar .navbar-nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:hover,
header.sticky nav.navbar.white-link .navbar-nav > li.active > a,
header.sticky nav.navbar.bootsnav.white-link ul.nav > li.active > a {
  color: rgba(255, 255, 255, 0.6);
}
header nav.navbar.white-link .navbar-nav > li > a:hover,
nav.navbar.bootsnav.white-link ul.nav > li > a:hover,
header nav.navbar.white-link .header-social-icon a:hover,
nav.navbar.bootsnav.white-link .header-social-icon a:hover,
header nav.navbar.white-link .header-searchbar a:hover,
nav.navbar.bootsnav.white-link .header-searchbar a:hover,
header nav.navbar.bootsnav ul.nav.white-link > li > a:hover,
header.header-appear nav.header-dark-transparent .navbar-nav > li > a:hover,
header.header-appear nav.header-dark .navbar-nav > li > a:hover,
header.sticky nav.header-dark .navbar-nav > li > a:hover,
header.sticky nav.header-dark-transparent .navbar-nav > li > a:hover,
header.header-appear nav.header-dark-transparent .search-button:hover,
header.header-appear nav.header-dark .search-button:hover,
header.sticky nav.header-dark .search-button:hover,
header.sticky nav.header-dark-transparent .search-button:hover {
  color: rgba(255, 255, 255, 0.6);
}
header.sticky
  nav.navbar-fixed-top.header-light-transparent.white-link
  .navbar-nav
  > li
  > a:hover,
header.sticky
  nav.navbar-fixed-top.header-light-transparent.white-link
  .header-searchbar
  a:hover,
header.sticky
  nav.navbar-fixed-top.header-light-transparent.white-link
  .header-social-icon
  a:hover,
header.sticky
  nav.navbar-fixed-top.header-light.white-link
  .navbar-nav
  > li
  > a:hover,
header.sticky
  nav.navbar-fixed-top.header-light.white-link
  .header-searchbar
  a:hover,
header.sticky
  nav.navbar-fixed-top.header-light.white-link
  .header-social-icon
  a:hover,
header.sticky
  nav.navbar-fixed-top.header-light.white-link
  .header-menu-button
  a:hover,
header.sticky
  nav.navbar-fixed-top.header-light.white-link
  .header-menu-button
  a:hover {
  color: rgba(255, 255, 255, 0.6);
}
header.sticky nav.navbar.white-link .navbar-nav > li > a:hover,
header.sticky nav.navbar.bootsnav.white-link ul.nav > li > a:hover,
header.sticky nav.navbar.white-link .navbar-nav > li > a.active,
header.sticky nav.navbar.bootsnav.white-link ul.nav > li > a.active {
  color: rgba(255, 255, 255, 0.6);
}
header.sticky nav.navbar.header-dark.white-link .navbar-nav > li > a:hover,
header.sticky
  nav.navbar.bootsnav.header-dark.white-link
  ul.nav
  > li
  > a:hover,
header.sticky nav.header-dark .header-social-icon a:hover {
  color: rgba(255, 255, 255, 0.6);
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul li.dropdown-header {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul > li:last-child img {
  display: none;
}
nav.navbar.navbar-default ul li.dropdown .dropdown-menu li > a:hover {
  left: 0;
}
.dropdown.open > div {
  display: block !important;
  opacity: 1 !important;
}
header.sticky nav.navbar.navbar-default.navbar-top ul.nav > li > a {
  color: #fff;
}
header.sticky nav.navbar.navbar-default.navbar-top ul.nav > li > a:hover,
header.sticky nav.navbar.navbar-default.navbar-top ul.nav > li.active > a {
  color: #939393;
}
nav.menu-logo-center .accordion-menu {
  padding: 26px 15px;
}
.sticky nav.menu-logo-center .accordion-menu {
  padding: 26px 15px;
}
nav.navbar.sidebar-nav.bootsnav .navbar-left-sidebar li a:hover,
nav.navbar.sidebar-nav.bootsnav .navbar-left-sidebar li.active > a {
  color: #000;
}
header .sidebar-part2 nav.navbar.bootsnav ul > li > a:hover,
header .sidebar-part2 nav.navbar.bootsnav ul > li.active > a {
  color: rgba(0, 0, 0, 0.6);
}
header .sidebar-part2 nav.navbar.bootsnav ul > li > a > .fas {
  top: -4px;
}
nav.navbar .container-fluid {
  padding-left: 24px;
  padding-right: 24px;
}
.header-with-topbar .navbar-top {
  top: 30px;
}
#search-header {
  width: 75%;
}
.sidebar-wrapper {
  padding-left: 0;
}
nav.navbar.sidebar-nav {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-property: display;
  -webkit-transition-property: display;
  -moz-transition-property: display;
  -ms-transition-property: display;
  -o-transition-property: display;
  left: -280px;
  width: 280px;
  z-index: 10005;
  padding: 60px 15px 15px;
  display: inline-block;
}
nav.navbar.sidebar-nav.sidebar-nav-style-1 .sidenav-header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}
nav.navbar.sidebar-nav.sidemenu-open {
  left: 0;
}
nav.navbar.sidebar-nav .navbar-toggle .icon-bar {
  background: #232323;
}
nav.navbar.bootsnav.sidebar-nav .navbar-collapse.collapse,
.sidebar-part2 nav.navbar.bootsnav .navbar-collapse.collapse {
  display: block !important;
  max-height: 100%;
  position: relative;
  top: 0;
}
nav.navbar.bootsnav.sidebar-nav .mobile-scroll {
  display: block;
  max-height: 80%;
  overflow-y: auto;
  position: absolute;
}
.sidebar-nav .logo-holder,
.sidebar-nav .footer-holder {
  padding: 0;
  text-align: left;
  display: inline-block;
}
.sidebar-nav .logo-holder {
  min-height: 0;
  padding: 15px 0;
}
.sidebar-nav.sidemenu-open .footer-holder {
  width: 100%;
  padding: 0;
  margin-right: 0;
}
.sidebar-nav .footer-holder {
  margin-right: 15px;
}
.sidebar-nav .footer-holder .navbar-form {
  margin: 0 auto;
}
nav.navbar.bootsnav.sidebar-nav .navbar-toggle {
  margin-bottom: 0;
  position: absolute;
  top: auto;
  vertical-align: middle;
  height: 100%;
  right: 15px;
}
nav.navbar.bootsnav.sidebar-nav
  .nav.navbar-left-sidebar
  .dropdown
  li:first-child {
  margin-top: 0;
}
nav.navbar.bootsnav.sidebar-nav ul.nav li.dropdown ul.dropdown-menu li {
  opacity: 1;
  visibility: visible;
}
nav.navbar.bootsnav.sidebar-nav ul.nav li.dropdown ul.dropdown-menu > li > a {
  color: #232323;
  margin: 0;
}
nav.navbar.bootsnav.sidebar-nav
  ul.nav
  li.dropdown
  ul.dropdown-menu
  > li.active
  > ul
  > li.active
  > a {
  color: #ff214f;
}
nav.navbar.bootsnav.sidebar-nav
  ul.nav
  li.dropdown
  ul.dropdown-menu
  > li
  > a
  .fas {
  display: none;
}
nav.navbar.bootsnav.sidebar-nav
  ul.nav
  li.dropdown.open
  ul.dropdown-menu
  > li
  > a {
  border-bottom: 1px solid #ededed !important;
}
nav.navbar.bootsnav.sidebar-nav
  ul.nav
  li.dropdown.open
  ul.dropdown-menu
  > li
  > ul.third-level
  > li
  > a {
  border-bottom: 0 !important;
  font-size: 11px;
  padding: 6px 0 0 0;
}
nav.navbar.bootsnav.sidebar-nav
  ul.nav
  li.dropdown.open
  ul.dropdown-menu
  > li
  > ul.third-level
  > li:first-child
  > a {
  padding-top: 10px;
}
nav.navbar.bootsnav.sidebar-nav
  ul.nav
  li.dropdown.open
  ul.dropdown-menu
  > li:last-child
  > ul.third-level
  > li:last-child
  > a {
  margin-bottom: 15px;
}
nav.navbar.bootsnav.sidebar-nav ul.nav li.dropdown.open ul.dropdown-menu li {
  margin-bottom: 5px;
}
.sidebar-nav-style-1 .nav.navbar-left-sidebar li {
  padding: 0;
}
.sidemenu-open .mobile-toggle span:first-child {
  transform: rotate(45deg) translate(7px);
  -webkit-transform: rotate(45deg) translate(7px);
  -moz-transform: rotate(45deg) translate(7px);
  -o-transform: rotate(45deg) translate(7px);
  -ms-transform: rotate(45deg) translate(7px);
}
.sidemenu-open .mobile-toggle span:nth-child(2) {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
}
.sidemenu-open .mobile-toggle span:last-child {
  transform: rotate(-45deg) translate(7px);
  -webkit-transform: rotate(-45deg) translate(7px);
  -moz-transform: rotate(-45deg) translate(7px);
  -o-transform: rotate(-45deg) translate(7px);
  -ms-transform: rotate(-45deg) translate(7px);
}
.sidebar-part2 nav.navbar.bootsnav li.dropdown.open > a > i {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
nav.navbar.bootsnav.sidebar-nav
  .nav.navbar-left-sidebar
  li.dropdown.open
  > a
  > i {
  transform: translateY(-50%) rotate(90deg);
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
}
nav.navbar.bootsnav li.dropdown .menu-back-div > ul {
  width: 100%;
}
nav.navbar.bootsnav li.dropdown .mega-menu-full {
  padding: 0 15px;
}
nav.navbar.bootsnav li.dropdown .mega-menu-full > ul li a {
  padding: 8px 0;
  margin: 0;
}
header nav.navbar .navbar-nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.active > a,
.dropdown-menu,
header.header-appear nav.bootsnav.header-light .navbar-nav > li.active > a,
header nav.navbar .navbar-nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.active > a {
  color: rgba(255, 255, 255, 0.6);
}
nav.navbar.bootsnav li.dropdown .mega-menu-full {
  position: relative;
}
.left-nav-sidebar {
  padding-left: 0;
}
.left-nav-sidebar .fullscreenbanner {
  padding-left: 0 !important;
}
.sidebar-part2 .sidebar-middle {
  padding: 30px 0;
  display: block;
}
.sidebar-part2 .sidebar-middle-menu {
  display: block;
  overflow-y: auto;
  max-height: calc(100% - 10px);
}
.sidebar-part1 {
  width: 50px;
}
.sidebar-part2 nav.navbar.bootsnav .navbar-nav {
  background: transparent;
  padding: 0;
}
.sidebar-part2 ul > li {
  width: 100%;
  padding: 5px 30px 5px 0;
}
header .sidebar-part2 nav.navbar.bootsnav ul > li > a > .fas {
  right: -20px;
  top: 0;
  font-size: 22px;
}
.bottom-menu-icon a,
.nav-icon span {
  width: 20px;
}
.bottom-menu-icon a {
  margin-top: 2px;
}
.bottom-menu-icon {
  width: 50px;
  padding: 13px 10px 11px;
}
.sidebar-part2:before {
  bottom: 55px;
  display: none;
}
.sidebar-part2 {
  background-color: #fff;
  border-right: 0 solid #dfdfdf;
  height: calc(100% - 50px);
  left: -300px;
  padding: 0 20px;
  overflow: auto;
  position: fixed;
  top: 50px;
  text-align: center;
  width: 300px;
  z-index: -1;
  transition: ease-in-out 0.5s;
}
.sidebar-part2 .right-bg {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  left: 0;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.sidebar-part2 nav.navbar.bootsnav li.dropdown ul.dropdown-menu:before {
  display: none;
}
.sidebar-part2 nav.navbar.bootsnav li.dropdown.open ul.dropdown-menu {
  display: block !important;
  opacity: 1 !important;
}
.sidebar-part2 nav.navbar.bootsnav li.dropdown ul.dropdown-menu,
.sidebar-part2 nav.navbar.bootsnav li.dropdown ul.dropdown-menu .third-level {
  top: 0;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  left: 0;
  background-color: transparent !important;
  padding-left: 10px !important;
}
header .sidebar-part2 nav.navbar.bootsnav ul li ul li {
  padding: 0;
}
.sidebar-part2 .dropdown ul.second-level,
.sidebar-part2 .dropdown ul.third-level {
  border-left: none !important;
}
.sidebar-part2
  nav.navbar.bootsnav
  ul.nav
  li.dropdown
  ul.dropdown-menu
  > li
  > a {
  color: #232323;
  padding: 0;
  margin-bottom: 2px;
}
.sidebar-part2
  nav.navbar.bootsnav
  ul.nav
  li.dropdown
  ul.dropdown-menu
  > li
  > a
  > .fas {
  display: none;
}
header .sidebar-part2 nav.navbar.bootsnav ul > li > a {
  font-size: 20px;
  line-height: 24px;
  border: 0;
}
.sidebar-part2
  nav.navbar.bootsnav
  li.dropdown.open
  ul.dropdown-menu
  .third-level {
  display: inherit;
}
.left-nav-sidebar .container {
  width: 700px;
}
.sidebar-part2 nav.navbar {
  text-align: left;
}
header
  .sidebar-part2
  nav.navbar.bootsnav
  ul
  li.dropdown
  .dropdown-menu.second-level
  > li
  > a {
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 0;
}
header
  .sidebar-part2
  nav.navbar.bootsnav
  ul
  li.dropdown
  .dropdown-menu.second-level
  > li:last-child {
  margin-bottom: 8px;
}
header
  .sidebar-part2
  nav.navbar.bootsnav
  ul
  li.dropdown
  .dropdown-menu.second-level
  > li
  > .dropdown-menu.third-level
  > li:first-child
  > a {
  margin-top: 8px;
}
nav.navbar.bootsnav.sidebar-nav .navbar-nav,
.sidebar-part2 nav.navbar.bootsnav .navbar-nav {
  background-color: transparent;
  padding: 0 0 0 0;
}
nav.navbar.bootsnav.sidebar-nav .navbar-nav {
  padding: 0;
  margin-right: 50px;
}
nav.navbar.bootsnav.sidebar-nav.sidemenu-open .navbar-nav {
  margin-right: 0;
}
nav.navbar.bootsnav.sidebar-nav
  .nav.navbar-left-sidebar
  .dropdown
  .second-level,
.sidebar-part2
  nav.navbar.bootsnav
  .nav.navbar-left-sidebar
  .dropdown
  .second-level {
  display: none !important;
}
nav.navbar.bootsnav.sidebar-nav .navbar-left-sidebar > li > a,
.sidebar-part2 nav.navbar.bootsnav .navbar-left-sidebar > li > a {
  margin: 0;
  padding: 15px 15px 15px 0;
}
nav.navbar.bootsnav.sidebar-nav .nav.navbar-left-sidebar li a,
.sidebar-part2 nav.navbar.bootsnav .nav.navbar-left-sidebar li a {
  border-bottom: 0 !important;
}
nav.navbar.bootsnav.sidebar-nav
  .nav.navbar-left-sidebar
  .dropdown.open
  .second-level,
nav.navbar.bootsnav.sidebar-nav
  .nav.navbar-left-sidebar
  .dropdown.open
  .second-level
  .dropdown
  .third-level,
.sidebar-part2
  nav.navbar.bootsnav
  .nav.navbar-left-sidebar
  .dropdown.open
  .second-level,
.sidebar-part2
  nav.navbar.bootsnav
  .nav.navbar-left-sidebar
  .dropdown.open
  .second-level
  .dropdown
  .third-level {
  display: block !important;
  left: 0;
  width: 100%;
  height: auto;
  visibility: visible;
  opacity: 1 !important;
  background: transparent;
  padding: 0 0 0 8px !important;
}
header
  .sidebar-part2
  nav.navbar.bootsnav
  li.dropdown
  ul.dropdown-menu
  > li
  a:hover {
  border: 0;
  color: #ff214f;
}
.sidebar-part1 {
  position: inherit;
  width: 50px;
  float: left;
}
.sidebar-part3 {
  position: absolute;
  right: 0;
  bottom: inherit;
  top: 0;
}
.left-nav {
  height: 50px;
  width: 100%;
}
.navbar.navbar-brand-top.bootsnav .navbar-toggle {
  float: left !important;
  top: 5px;
}
.navbar-brand-top .brand-top-menu-right {
  float: right;
  margin-left: 10px;
}
.navbar-brand-top .navbar-brand {
  text-align: left;
}
.navbar-brand-top .navbar-nav {
  text-align: left;
}
header nav.navbar.bootsnav.no-full .navbar-collapse {
  max-height: unset;
  top: 0;
  overflow-x: hidden;
}
header nav.navbar.bootsnav .navbar-collapse.collapse.in {
  position: fixed;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 9;
  max-height: 100% !important;
}
header.sticky nav.navbar-top {
  top: 0;
}
header.sticky nav.navbar-top .logo,
header.sticky nav.navbar-top .accordion-menu button {
  display: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
header.sticky.header-appear nav.navbar-top .logo,
header.sticky.header-appear nav.navbar-top .accordion-menu button {
  display: inline-block;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
header nav.navbar-top .accordion-menu button {
  z-index: 999;
}
header nav.navbar-top .accordion-menu button:not(.collapsed) {
  display: inline-block !important;
}
header nav.navbar.bootsnav.no-full .navbar-collapse #accordion {
  padding: 100px 0;
}
header nav .navbar-nav.text-normal > li > a,
header nav .navbar-nav.text-normal > li > div > a {
  font-size: 24px;
  font-weight: 300 !important;
  text-transform: unset;
  text-align: center;
}
header nav .navbar-nav.text-normal > li > div.clangs > a {
  text-transform: uppercase;
}
header nav .navbar-nav.text-normal > li > div.clangs > a:last-child {
  margin-right: 0;
}
header nav .navbar-nav.text-normal > li > div {
  padding-top: 100px;
}
.navbar-toggle .icon-bar {
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
  -ms-transform: rotate(45deg);
  -ms-transform-origin: 10% 10%;
  -webkit-transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  -ms-transform: rotate(-45deg);
  -ms-transform-origin: 10% 90%;
  -webkit-transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
