* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

/* Cículos */

.circle-container {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center; /* esto se asegura de que los círculos estén alineados horizontalmente */
    gap: 10px;
}

.circle {
    width: 8px; /* tamaño más pequeño para círculos no activos */
    height: 8px; /* tamaño más pequeño para círculos no activos */
}

.circle .circle-path {
    fill: white; /* relleno blanco para círculos no activos */
    stroke: white;
    stroke-width: 2;
    transition: stroke 0.3s ease, fill 0.3s ease, width 0.3s ease, height 0.3s ease;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
}

.circle.active {
    width: 20px; /* tamaño ligeramente reducido para el círculo activo */
    height: 20px; /* tamaño ligeramente reducido para el círculo activo */
}

.circle.active .circle-path {
    fill: none; /* no fill for active circle */
    stroke: #C12924;
    stroke-width: 3; /* grosor reducido para el círculo activo */
    stroke-dasharray: 0 100;
    animation: draw 9.8s linear infinite;
}

@keyframes draw {
    to {
        stroke-dasharray: 100 0;
    }
}


/* Resto de tu CSS... */






/* Texto */

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


/* Texto */

.intro-text {
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10%;  /* ajusta este valor según dónde quieras posicionar el texto */
}

.intro-text p {
    font-size: 2vw;  /* ajusta este valor para cambiar el tamaño del texto */
    color: white;  /* cambia este valor para cambiar el color del texto */
}

@media (max-width: 768px) {
  .intro-text p {
    font-size: 20px;  /* ajusta este valor para cambiar el tamaño del texto en dispositivos móviles */
  }

  .intro-text .mobile-break {
    display: block;
  }
}

/* Transicción Logo*/


#transition-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    z-index: 1;
}

#logo {
    width: 200px;
    height: 200px;
    transition: transform 1s ease-in-out;
    transform: scale(0.5);
}

#transition-container.visible {
    opacity: 1;
    visibility: visible;
}

#logo.large {
    transform: scale(1);
}

